@import '../../../build/fonts/css/satoshi.css';

$brand-primary: #10142A;
$font-family:'Satoshi-Regular';
$font-color: #10142A;
$color-services: #00FF8B;
$color-digital: #009CFF;
$color-technologies: #FFB600; 
$color-ventures: #FF0037; 
